.-header {
    padding: 40px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .-header {
        padding-left: 10px;
    }
}

.-header-location a {
    color: #000000;
    text-decoration: none;
}

.-header-location #location {
    font-weight: bold;
}

.-main-clientes {
    padding: 0 80px;
    overflow: hidden;
}

.-main-clientes h2 {
    margin-bottom: 50px;
}

.-header-clientes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .-main-clientes {
        padding: 0 10px;
    }

    .-header-clientes {
        flex-direction: column;
        gap: 25px;
    }
}

.-card-clientes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 8px;
}

.card-clientes-datos {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.card-clientes-datos span {
    font-weight: normal;
}

