.-header {
    padding: 40px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .-header {
        padding-left: 10px;
    }
}

.-header-location a {
    color: #000000;
    text-decoration: none;
}

.-header-location #location {
    font-weight: bold;
}

.-main-cuenta-usuarios {
    padding: 0 80px;
    overflow: hidden;
}

.-header-cuenta-usuarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .-main-cuenta-usuarios {
        padding: 0 10px;
    }

    .-header-cuenta-usuarios {
        flex-direction: column;
        gap: 25px;
    }
}