.-header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.-header-location a {
    color: #000000;
    text-decoration: none;
}

.-header-location #location {
    font-weight: bold;
}

.-header-workday {
    display: flex;
    align-items: center;
    gap: 20px;
}

.-header-workday-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.-header-workday-hours p {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

#btn-workday {
    width: 100px;
}