.-header {
    padding: 40px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .-header {
        padding-left: 10px;
    }
}

.-header-location a {
    color: #000000;
    text-decoration: none;
}

.-header-location #location {
    font-weight: bold;
}

.-main-mercancia {
    padding: 0 80px;
    overflow: hidden;
}

.-main-mercancia h2 {
    margin-bottom: 50px;
}

.-card-mercancia-entregada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.card-mercancia-entregada-datos {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: bold;
}

.card-mercancia-entregada-datos span {
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    .-main-mercancia {
        padding: 0 10px;
        text-align: center;
    }

    .-card-mercancia-entregada { overflow-x: scroll; }
}
