.-header {
    padding: 40px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .-header {
        padding-left: 10px;
    }
}

.-header-location a {
    color: #000000;
    text-decoration: none;
}

.-header-location #location {
    font-weight: bold;
}

.-main-mercancia {
    padding: 0 80px;
    overflow: hidden;
}

.-header-mercancia-entregada {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .-main-mercancia {
        padding: 0 10px;
    }

    .-header-mercancia-entregada {
        flex-direction: column;
        gap: 25px;
    }
}

.-card-mercancia {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.-card-mercancia-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.-card-mercancia-main {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    height: 100px;
}