.-header {
    padding: 40px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .-header {
        padding-left: 10px;
    }
}

.-header-location a {
    color: #000000;
    text-decoration: none;
}

.-header-location #location {
    font-weight: bold;
}

.-main-usuarios {
    padding: 0 80px;
    overflow: hidden;
}

.-header-usuarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.-header-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;    
}

@media only screen and (max-width: 600px) {
    .-main-usuarios {
        padding: 0 10px;
    }

    .-header-usuarios {
        flex-direction: column;
        gap: 25px;
    }
}

#nuevo-trabajador-telefono::-webkit-inner-spin-button, 
#nuevo-trabajador-telefono::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#nuevo-trabajador-telefono[type=number] { 
    -moz-appearance:textfield; 
    appearance: textfield;
}

.table {
    overflow: scroll !important;
}